<%= form_with(model: [ @playlist, @song ], url: add_song_playlist_path(@playlist), local: true) do |form|%>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_area :author %>
  </div>

  <div>
    <%= form.hidden_field :playlist_id, value: @playlist_id %>
    <%= form.submit %>
  </div>
<% end %>
